
<h1 class="text-center">UFO Blogs</h1> 

<div class="container ">
    <% @blogs.each do |blog| %>
        <div class="card mb-3 mx-auto" style="width: 50rem;">
            <div class="card-body">
                <h5 class="card-title text-primary"><%= blog.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6> <%# Change this later to user that posted %>
                <p class="card-text"><%= truncate blog.body, length: 100 %></p>
            </div>
        </div>
    <% end %>
</div>

